nexus-operator
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.tgz
*.rpm
*.deb
*.nupkg
*.whl
*.pom
*.md5
*.sha1
*.sha256
*.sha512
*.asc
.idea/
.vscode/
.DS_Store
target/
build/
dist/
pkg/
*.log
logs/
tmp/
vendor/
go.sum
exm.ini
.gitlab-ci.yml
